<li id="post-<%= i._id %>">
    <div class="post-card">
        <div class="post-card-header">
            <% if(i.user.avatar) { %>
                <img src="<%= i.user.avatar %>" alt="<%= i.user.name %>" class="post-user-profile-pic">&nbsp;&nbsp;
            <% }else{ %>
                <img src="/images/default-avatar.jpg" alt="<%= i.user.name %>" class="post-user-profile-pic">
            <% } %>
            <div class="user-name">
                <a href="/users/profile/<%= i.user._id %>"><%= i.user.name %></a>
            </div>
            <% if(locals.user && locals.user.id==i.user.id) {%>
                <div class="post-delete-button"><a href="/posts/destroy/<%= i._id %>"><i class="fas fa-times"></i></a>
                </div>
                <% } %>
        </div>

        <div class="post-content">
            <%= i.content %>
        </div>
        <div class="likes-count"><b><%= i.likes.length %> Likes</b></div>
        <div class="like-comment-bar">
            <% if(locals.user) {%>
                <div class="like" class=".toggle-likes-button"><b><a href="/likes/toggle/?id=<%= i._id %>&type=Post"  data-likes='0'><i class="far fa-thumbs-up"></i></i>&nbsp;&nbsp;Like</b></a></div>
            <% }else{ %>
                <div class="like"><b><i class="far fa-thumbs-up"></i></i>&nbsp;&nbsp;Like</b></div>
            <% } %>
            <div class="comment" id="comment-<%= i._id %>"><i class="far fa-comment-alt"></i>&nbsp;&nbsp;<b>Comment</b></div>
        </div>
        <div class="comments-container">
            <div class="posted-comments" id="posted-comments-<%= i._id %>">

                <ul type="none" id="post-comments-<%= i._id %>">
                    <% for(j of i.comments) { %>
                        <%- include('_comment.ejs'); -%>
                    <% } %>
                </ul>
            </div>
            <% if(locals.user) { %>
                <form action="/comments/create" method="POST" id="comment-form-<%=i._id%>">
                    <textarea class="comment-content" name="content" class="comment-content" placeholder="Add comment" rows="2" cols="20"
                    required></textarea>
                    <input type="hidden" name="post_id" value="<%= i._id %>">
                    <button type="submit">Add comment</button>
                </form>
            <% } %>
        </div>
    </div>
</li>